html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Reset CSS Ends*/

:root {
  --default: #d6dee1;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  background: rgb(11, 10, 36);
  overflow-x: hidden;
}

.right {
  max-width: 100vw;
  min-height: 100vh;
  margin-left: 240px;
  color: white;
  background: rgb(11, 10, 36);
  //background: whitesmoke;
}

.navBar {
  z-index: 1000;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 240px;
  min-height: 100vh;
  background: rgba(32, 30, 67);
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: safe center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 53px;
}

.dp {
  margin-left: -40px;
  margin-right: 8px;
  width: 35px;
  height: 35px;
}

.Name {
  color: white;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 24px;
}

.child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.navigate {
  overflow: hidden;
  font-family: Gilroy-Medium, sans-serif;
  font-size: 15px;
  line-height: 17.58px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.svg {
  margin-left: 12px;
  margin-top: 2px;
  margin-right: 10px;
}

.svg:hover {
  fill: B7ABFF;
}

.nav-btn {
  overflow: hidden;
  color: #727191;
  width: 209px;
  height: 49px;
}

.nav-btn:hover {
  color: rgb(183, 171, 255);
  background: rgb(32, 30, 67);
  border: 1px solid #000000;
  border-radius: 5px 0px 0px 5px;
}

.child {
  margin-top: 12px;
}

.text {
  vertical-align: 3px;
  font-family: "Gilroy-Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

.nav-btn,
.nav-btn:visited,
.nav-btn:hover,
.nav-btn:active,
.nav-btn:focus {
  text-decoration: underline;
  text-decoration-color: rgba(32, 30, 67);
}

.text,
.text:visited,
.text:hover,
.text:active,
.text:focus {
  text-decoration: underline;
  text-decoration-color: rgba(32, 30, 67);
}

.money-left {
  float: left;
  border-radius: 15px;
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 195px;
  height: 165px;
  background: linear-gradient(
    to bottom right,
    rgba(134, 140, 255, 1),
    rgba(67, 24, 255, 1)
  );
}

.your {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin-left: 16px;
  margin-top: 29px;
}

.Tez,
.our-curr {
  font-size: 24px;
  line-height: 28px;
  color: white;
  font-family: Gilroy-Light, sans-serif;
  margin-left: 16px;
}

.par {
  margin-top: 10px;
}

.input-div {
  overflow: hidden;
  width: 583px;
  height: 48px;
  margin-left: 44px;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  background: #201e43;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

input[type="text"] {
  border: none;
  flex-grow: 1;
  background: #201e43;
}

::placeholder {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: rgba(236, 235, 246, 0.62);
}

input[type="text"]:focus {
  color: rgba(236, 235, 246, 0.62);
  outline: none;
  caret-color: rgba(236, 235, 246, 0.62);
}

.hold1 {
  margin-left: 20px;
  margin-right: 15px;
  height: 20px;
  width: 20px;
}

.hold2 {
  margin-right: 20px;
  height: 20px;
  width: 20px;
}

.img-face {
  width: 49.52px;
  height: 49.52px;
  left: 1302px;
  top: 42px;
}

.Top {
  height: 130px;
  z-index: 100;
  min-width: calc(100vw - 250px);
  position: fixed;
  display: flex;
  flex-direction: row;
  background: rgb(11, 10, 36);
}

.dp-pic {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.div-face {
  margin-right: 20px;
}

.user-info {
  min-width: 200px;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.key-name {
  padding: 10px;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 26px;
  line-height: 16px;
  color: #ecebf6;
  cursor: pointer;
}

.key-name:active {
  cursor: progress;
}

.caret-down {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.Heading {
  position: absolute;
  width: 300px;
  height: 29px;
  left: 286px;
  top: 150px;
  font-family: "Gilroy-medium", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 17px;
  color: #f5f4fb;
  //color: black;
}

.fixed-ele {
  display: flex;
  flex-direction: row;
}

.hold4 {
  margin-left: 855px;
}

.playgame {
  overflow: hidden;
  max-width: 100vw;
  min-height: 100vh;
  background: rgb(11, 10, 36);
}

.game-conc {
  margin-left: 240px;
}

.card-begin {
  width: calc(100vw - 300px);
  position: absolute;
  height: 355px;
  left: 283px;
  top: 205px;
  background: rgb(11, 10, 36);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: start;
  overflow: auto;
  overflow-y: hidden;
}

.card {
  margin-right: 50px;
  margin-bottom: 50px;
  width: 252px;
  height: 337px;
  background: #201e43;
  border-radius: 15px;
}

.img-tag {
  position: relative;
  width: 239px;
  height: 217px;
  top: 7px;
  left: 8px;
  border-radius: 15px;
}

.random {
  width: 222px;
  height: 217px;
}

.ident {
  position: absolute;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #ecebf7;
  top: 242px;
  left: 18px;
}

.div-owner {
  top: 190px;
  left: 8px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 70px;
  height: 23px;
  border-radius: 13px;
  text-align: center;
}

.owner {
  top: 5px;
  left: 7px;
  position: absolute;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 11px;
  color: #d3d1e0;
}

.table-start {
  position: absolute;
  top: 600px;
  min-width: 100vw;
  min-height: 400px;
  //background: whitesmoke;
}

.Headin {
  position: absolute;
  width: 208px;
  height: 29px;
  left: 42px;
  top: 2px;
  font-family: "Gilroy-medium", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #f5f4fb;
  //color: black;
}

table {
  border-collapse: collapse;
  position: absolute;
  width: calc(100vw - 330px);
  min-height: 301px;
  left: 40px;
  top: 70px;
  background: #201e43;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

th {
  display: border-box;
  text-align: left;
  padding-top: 23px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: "Gilroy-medium", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 17px;
  color: #ecebf6;
  cursor: pointer;
}

td {
  vertical-align: middle;
  padding-top: 23px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: "Gilroy-Medium", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #ecebf6;
}

th {
  vertical-align: top;
  font-weight: 600;
  color: rgba(236, 235, 246, 0.62);
  padding-bottom: 5px;
}

::-webkit-scrollbar {
  width: 20px;
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--default);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: border-box;
  //background-color: #6e6e6e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.shown {
  position: absolute;
  width: 145px;
  height: 60px;
  text-align: center;
  margin: auto;
  top: 90px;
  right: 10px;
  background: #201e43;
  color: white;
  border-radius: 15px;
}

.write {
  position: absolute;
  left: 30px;
  top: 20px;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 27px;
  line-height: 14px;
  color: #ecebf6;
  cursor: pointer;
}

.dove {
  position: absolute;
  top: 275px;
  width: 230px;
  display: flex;
  flex-direction: row;
  font-family: "Gilroy-Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  justify-content: space-around;
}

.tez {
  cursor: pointer;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: white;
  min-width: 90px;
  height: 37px;
  background: white;
  border-radius: 10px;
  color: black;
  margin-right: 15px;
}

.tez:active {
  background: #201e43;
  border-width: 0px;
  color: white;
}

.orz {
  cursor: pointer;
  border-style: solid;
  min-width: 90px;
  height: 37px;
  background: #201e43;
  border-radius: 10px;
  border-width: 2px;
  border-color: white;
  color: white;
}

.orz:active {
  cursor: pointer;
  border-width: 0px;
}

/* .hide {
  color: #201e43;
} */

.mak-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-grp {
  display: flex;
  flex-direction: row;
}

.fix {
  margin-right: 15px;
}

.table-box {
  margin-bottom: 700px;
}

.diag {
  height: 50px;
  width: 480px;
  font-family: "Gilroy-medium", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #f5f4fb;
  z-index: 10;
  position: absolute;
  color: #fff;
  text-align: center;
  transform: rotate(-44deg) translate(-30%, -220%);
  background: black;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.rit {
  position: absolute;
  top: 12px;
  left: 180px;
  right: 200px;
}

.unity {
  max-width: 100vw;
}

@media only screen and (max-width: 1230px) {
  .unity {
    max-width: 70vw;
  }
}

.navBar {
  transition: 0.5s;
}

#toggle {
  position: absolute;
  left: 70px;
  top: 260px;
  display: block;
  width: 100px;
  height: 40px;
  border-radius: 160px;
  background: #222;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
#toggle.active {
  background: #fff;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}
#toggle .indicator {
  position: absolute;
  top: -60px;
  left: -60px;
  width: 160px;
  height: 160px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.2);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}
#toggle.active .indicator {
  left: 4px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 2 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(255, 255, 255, 1),
    inset 0 -4px 4px rgba(255, 255, 255, 1);
}

.spinner {
  width: 100px;
  height: 100px;
  background: linear-gradient(90deg, #009fff, #ec2f4b);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

#spinner2 {
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}

#spinner2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  width: 80%;
  height: 90%;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px black;
}
