html {
    background-color: whitesmoke;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 62.5%;
}
.para {
  font-size: medium;
  vertical-align: top;
  margin-top: 1rem;
  margin-left: 0.3rem;
  color: gray;
}
h2, p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
/*.sec .user, .pic, .pic-pic, .dog, .friend, .btn {
  border: .5rem solid pink;
}*/
.user {
  margin-top: 1.5rem;
  max-height: 35rem;
  margin-left: 2rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  border: 2px solid black;
}
.user, p {
    display: inline-block;
}
.pic-pic {
  object-fit: cover;
  width: 18rem;
  height: 20rem;
}
.dog {
  margin-top: 0.5rem;
  vertical-align: top;
  border-radius: 100%;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  /*overflow: scroll;*/
}
.friend {
  width: 100%;
}
.btn {
  margin-top: 0.8rem;
  padding: 0.8rem;
  vertical-align: top;
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: rgb(2, 158, 255);
  color: white;
  border-color: white;
  transition: 0.3s;
}
.btn:hover {
  background-color: white;
  color: rgb(2, 158, 255);
}
.sec {
  margin-left: 0.5rem;
}
h2 {
  margin-top: 1.3rem;
  font-size: medium;
}

@media(max-width:998px) {
  html {
    font-size: 55%;
  }
}

@media(max-width:768px) {
  html {
    font-size: 45%;
  }
}